* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 500;

  background-color: #333333;
}

img {
  size: 90%;
}

.planets-section {
  max-width: 1300px;
  margin: 0 auto 80px auto;
}

.planets-section h1 {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  color: #ececec;
  text-shadow: 2px 2px 32px #eeeeee;

  margin-top: 64px;
  margin-bottom: 156px;
}

.planets-conainer {
  display: grid;

  grid-template-columns: 1fr 1fr;
  row-gap: 74px;
  column-gap: 64px;
}

.planet-number {
  font-size: 48px;
  color: #111111;

  margin-bottom: 8px;
}

.planet {
  display: flex;

  justify-content: center;
}

.planet-name {
  font-size: 32px;
  font-weight: 600;
  color: #dddddd;

  margin-bottom: 32px;
  text-shadow: 1px 1px 12px #ffffff;
}

.planet-description {
  font-size: 18px;
  color: #dddddd;

  line-height: 1.35;
  font-weight: 400;
}
